In [425]:
import pandas as pd
import numpy as np 
import math

In [426]:
data= pd.read_csv('Dhaka_scock.csv')

data.head()

           Date     Price      Open      High       Low Vol. Change %
0  Dec 12, 2018  5,265.84  5,275.76  5,292.94  5,259.87    -   -0.19%
1  Dec 11, 2018  5,275.76  5,295.69  5,310.71  5,259.40    -   -0.38%
2  Dec 10, 2018  5,295.69  5,306.22  5,329.41  5,281.14    -   -0.20%
3  Dec 09, 2018  5,306.22  5,332.80  5,345.42  5,305.68    -   -0.50%
4  Dec 06, 2018  5,332.80  5,361.11  5,370.24  5,326.29    -   -0.53%

In [427]:
data.drop(['Vol.','Change %'],axis=1, inplace=True)

In [428]:
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 5 columns):
Date     266 non-null object
Price    266 non-null object
Open     266 non-null object
High     266 non-null object
Low      266 non-null object
dtypes: object(5)
memory usage: 10.5+ KB

In [429]:
data["Price"] = data["Price"].str.replace(",","").astype(float)

In [430]:
data["Open"] = data["Open"].str.replace(",","").astype(float)

In [431]:
data["High"] = data["High"].str.replace(",","").astype(float)

In [432]:
data["Low"] = data["Low"].str.replace(",","").astype(float)

In [433]:
data.head()

           Date    Price     Open     High      Low
0  Dec 12, 2018  5265.84  5275.76  5292.94  5259.87
1  Dec 11, 2018  5275.76  5295.69  5310.71  5259.40
2  Dec 10, 2018  5295.69  5306.22  5329.41  5281.14
3  Dec 09, 2018  5306.22  5332.80  5345.42  5305.68
4  Dec 06, 2018  5332.80  5361.11  5370.24  5326.29

In [434]:

data.isnull().sum()

Date     0
Price    0
Open     0
High     0
Low      0
dtype: int64

In [435]:
data['Change'] = data['High']- data['Low']

data.head()

           Date    Price     Open     High      Low  Change
0  Dec 12, 2018  5265.84  5275.76  5292.94  5259.87   33.07
1  Dec 11, 2018  5275.76  5295.69  5310.71  5259.40   51.31
2  Dec 10, 2018  5295.69  5306.22  5329.41  5281.14   48.27
3  Dec 09, 2018  5306.22  5332.80  5345.42  5305.68   39.74
4  Dec 06, 2018  5332.80  5361.11  5370.24  5326.29   43.95

In [436]:
#date = {'Jan':1, 'Feb':2 ,'Mar':3, 'Apr':4, 'May':5, 'Jun':6, 'Jul':7, 'Aug':8,'Sep':9, 'Oct':10, 'Nov': 11 , 'Dec': 12  } 
  

#data.Date = [date[item] for item in data.Date] 
#print(data)

In [437]:
data.isnull().sum()

Date      0
Price     0
Open      0
High      0
Low       0
Change    0
dtype: int64

In [438]:
data.dropna(inplace=True)
data.isnull().sum()
data.head()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 0 to 265
Data columns (total 6 columns):
Date      266 non-null object
Price     266 non-null float64
Open      266 non-null float64
High      266 non-null float64
Low       266 non-null float64
Change    266 non-null float64
dtypes: float64(5), object(1)
memory usage: 14.5+ KB

In [439]:
data.drop(['Date'],axis=1, inplace=True)
data.head()

     Price     Open     High      Low  Change
0  5265.84  5275.76  5292.94  5259.87   33.07
1  5275.76  5295.69  5310.71  5259.40   51.31
2  5295.69  5306.22  5329.41  5281.14   48.27
3  5306.22  5332.80  5345.42  5305.68   39.74
4  5332.80  5361.11  5370.24  5326.29   43.95

In [440]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [441]:
X= data[['Open','High','Low','Change']]
y= data['Price']

In [442]:
train_test_split = X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [443]:
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

pred = lin_reg.predict(X_test)

In [444]:

accuracy=lin_reg.score(X_test,y_test)

print(accuracy)

0.9994917841331755